@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf); /* Import font*/
    font-weight: 800
}

@font-face { /* Import font */
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
}


body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: "RobotoCondensed"; /* Specify font */
}

h1, h2, h3, h4, h5 {
    font-family: "EconomicaBold"; /* Specify font */
}

.listEntry {
    border: 3px solid rgb(255, 146, 4);
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    font-size: 17px;
    text-align: left;
    width: 50%;
    font-family: "RobotoCOndensed"; 
}

.listBox {
    border: 3px solid rgb(0, 0, 240);
    border-radius: 25px;
    margin: 10px;
    padding: 15px;
}